<head>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>

<body>

  <h2>Weekly Time Usage</h2>
  <%= link_to "Create Action", "/actions/new" %>
  <%= link_to "Category List", "/categories/index" %>
  <%= link_to "Create Category", "/categories/new" %>

  <canvas id="myChart" width="100" height="50"></canvas>

  <script>
    document.addEventListener("DOMContentLoaded", function() {
      var ctx = document.getElementById("myChart").getContext("2d");

      var data = {
        labels: [<%= raw @dates.map { |date| "\"#{date}\"" }.join(', ') %>],
        datasets: <%= raw @datasets.to_json.html_safe %>
      };

      var options = {
        scales: {
          x: {
            stacked: true
          },
          y: {
            stacked: true
          }
        }
      };

      var myChart = new Chart(ctx, {
        type: 'bar',
        data: data,
        options: options
      });
    });
  </script>
</body>

