<h2>Weekly Time Usage</h2>
<%= link_to "Create Action", "/actions/new" %>

<!-- 表示テスト用 -->

<% @actions.each do |action| %>
    <div>
        <strong><%= action.category %></strong>
        <%= action.day %>:
        <%= action.total_time %> hours
    </div>
<% end %> 

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<input type="hidden" id="actions" value="<%= @actions.to_json.html_safe %>">
<script>
  document.addEventListener("DOMContentLoaded", function() {
    var ctx = document.getElementById("myChart").getContext("2d");

    const actionsData = document.getElementById('actions').value;

    var categories = actionsData.map(&:category).uniq.to_json.html_safe
    var dates = actionsData.map({ |action| action.day.to_s }.uniq.to_json.html_safe)

    // var categories = <%= @actions.map(&:category).uniq.to_json.html_safe %>;
    // var dates = <%= @actions.map { |action| action.day.to_s }.uniq.to_json.html_safe %>;

    var dataset = categories.map(function(category){
        return {
            label: category,
            data: dates.map(function(date){
                var actionsOnDate = <%= @actions.select { |action| action.category == category && 
                                                                    action.day.to_s == date }.to_json.html_safe %>;
                return actionsOnDate.reduce(function(sum, action){
                    return sum + action.total_time
                });
            }),
            backgroundColor: getRandomColor()
        }
    })

    var data = {
      labels: dates,
      datasets: dataset
    };

    var options = {
      scales: {
        x: {
          stacked: true
        },
        y: {
          stacked: true
        }
      }
    };

    var myChart = new Chart(ctx, {
      type: 'bar',
      data: data,
      options: options
    });
  });

  function getRandomColor() {
    var letters = '0123456789ABCDEF';
    var color = '#';
    for (var i = 0; i < 6; i++) {
      color += letters[Math.floor(Math.random() * 16)];
    }
    return color;
  }
</script>

<canvas id="myChart" width="400" height="200"></canvas>

<%
=begin%>
 <canvas id="stackedBarChart" width="800" height="400"></canvas> 
<%
=end%>


